/* overview */
html {
    overflow: scroll;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    max-width: 100%;
    min-width: 100%;
    font-family: 'Quattrocento', serif;
    background-color: rgb(171, 169, 173);
}

/* responsive img */
img{
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 5%;
}

.jumbotron{
    background-color: rgb(241, 237, 217);
    box-shadow: 10px 10px 5px grey;
    height: 100%;
}

.buttons{
    padding-top: 3%;
}

#help{
    margin: 5%;
}

#answer{
    padding-top: 5%;
    padding-bottom: 5%;
}

/* phone */
@media (min-width:350px) {
    body {
        font-size: 20px;
    }

    .jumbotron{
        margin-top: 25%;
    }

    .btn {
        font-size:18px;
        padding:4px 6px;
      }

}

/* tablet/ipad */
@media (min-width:768px) {
    body {
        font-size: 22px;
    }

    .jumbotron{
        margin-top: 20%;
    }

    .btn {
        font-size:22px;
        padding:6px 8px;
      }

}

/* desktop */
@media (min-width:1000px) {
    body {
        font-size: 24px;
    }

    .jumbotron{
        margin-top: 10%;
    }

    .btn {
        font-size:25px;
        padding:8px 10px;
      }
}